:root 
{
  --primary:black;
  --secondary:#10d3ec;
  --operators:rgba(50, 151, 19, 0.726);
  --numbers:darkgrey;

}

@font-face {
  font-family: digital;
  src: url(fonts/DS-DIGI.TTF);
}

*
{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: digital;
}

body{
  background-color: var(--primary);
}

.App
{
  display:flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 50px;
}

.calculator
{
  width: 100%;
  max-width: 400px;
  background-color: var(--primary);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(0,0,0,0.2);
 
}

.display
{
  padding:16px;
  text-align: right;
  background-color: var(--numbers);
}

button
{
  appearance: none;
  border:none;
  outline:none;
  color:white;
  font-size: 20px;
  padding:16px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover
{
  opacity: 0.9;
}

.operators
{
  display: flex;
}

.operators button

{
  flex: 1 1 0%;
  background-color: var(--operators);
}

.digits
{
  display: flex;
  flex-wrap: wrap;
}

.digits button
{
  flex: 1 1 33.333%;
  max-width: 33.333%;
  background-color: var(--numbers);


}