:root 
{
  --primary:#1C1C1C;
  --secondary:white;
  --operators:#FF9500	;
  --numbers:#505050;
  --hover:grey;

}

@font-face {
  font-family: digital;
  src: url(fonts/DS-DIGI.TTF);
}

*
{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: digital;
}

body{
  background-color: var(--primary);
}

.App
{
  display:flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: var(--secondary);
  font-size: 50px;
  
 
}

.calculator
{
  width: 100%;
  max-width: 400px;
  background-color: var(--primary);
  border-radius: 22px;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(0,0,0,0.2);
  border: 2px solid var(--secondary);
}

.display
{
  padding:50px;
  text-align: right;
  background-color: var(--primary);
}

button
{
  appearance: none;
  border:none;
  outline:none; 
  font-size: 40px;
  padding:10px;
  cursor: pointer;
  transition: 0.4s;
  margin:6px;
  border-radius: 82px;
 
}

button:hover
{
  opacity: 0.9;
  color: var(--primary);
}

.operators
{
  display: flex;
 
}

.operators button

{
  flex: 1 1 30%;
  background-color: var(--operators);
  color:var(--secondary);
}

.digits
{
  display: flex;
  flex-wrap:wrap;
  
}

.digits button
{
  flex: 1 1 30%;
  max-width: 100%;
  color:var(--secondary);
  background-color: var(--numbers);
  border: 2px solid var(--numbers);
}

.digits button:hover
{
  color:white;
  border: 2px solid var(--numbers);
  background-color: var(--primary);
}

